<button id="input-categoryvinyasa"> 
              <div>
                <img src="/images/homeimage.svg" alt="vinyasa">
              </div>
              Vinyasa 
            </button>
            <button id="input-categoryhatha"> 
              <div>
                <img src="/images/homeimage.svg" alt="hatha">
              </div>
              Hatha 
            </button>
            <button id="input-categoryyin"> 
              <div>
                <img src="/images/homeimage.svg" alt="yin">
              </div> 
              Yin
            </button>
            <button id="input-categoryastanga"> 
              <div>
                <img src="/images/homeimage.svg" alt="astanga">
              </div> 
              Astanga 
            </button>
            <button id="input-categorybikram"> 
              <div>
                <img src="/images/homeimage.svg" alt="bikram">
              </div>
              Bikram 
            </button>
            <button id="input-categoryother">
              <div>
                <img src="/images/homeimage.svg" alt="other">
                </div> 
                Other 
            </button>