<div id="align-hl-with-dayfilter">
              <sub id="sub-special" class="light-font"> for </sub> 
                <div class="dayfilter horizontal-scroll-wrapper-days">
                  <button id="input-dayindicationtoday"> Today </button>
                  <button id="input-dayindicationtomorrow"> Tomorrow </button>
                  <button id="input-dayindicationtomorrowAndone"> +1 </button>
                  <button id="input-dayindicationtomorrowAndtwo"> +2 </button>
                  <button id="input-dayindicationtomorrowAndthree"> +3</button>
                  <button id="input-dayindicationtomorrowAndfour"> +4 </button>
                  <button id="input-dayindicationtomorrowAndfive"> +5 </button>
                  </div>
              
         
</div>