 <div class="search">
                <img src="/images/search.png" alt="search-icon">
                <form action="">
                    <label for="input-classnamesearch"></label>
                    <input type="text" id="input-classnamesearch" name="classnamesearch" placeholder="Search class name">     
                </form>
            </div>
            