<div class="hero background-blue">
    <div class="hero-box">
        <h1>Welcome </br>
        <span class="light-font"> to Yoga Finder</span></h1>
        <p>Explore your yoga options and never miss out on a class.</p>
        <button class="primary-button button-styling">
        <a href="/locate">Find nearby yoga class</a>
        </button>
    </div>
</div>
 