<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
      
        <a href="/profile">{{user.name}}'s Profile</a>
        <form class="form-button" action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav> 
      <main>
        {{{body}}}
      </main>
    <script src="/scripts/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0DqXPpPxcJTpR7EvVNsWAUVTKLQZclUw&callback=initMap&libraries=&v=weekly" defer></script>
  </body>
</html>
