<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="nav-links">
        <ul>
          <li><a href="/">Search</a></li>
          {{#if user}}
            <a href="/profile">{{user.name}}'s Profile</a>
            <form class="form-button" action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form>
        {{else}}
          <li><a href="/authentication/sign-in">Sign In</a></li>
          <li><a href="/authentication/sign-up">Sign Up</a></li>
       {{/if}}
        </ul>
      </div>
    </nav> 
      <main>
        {{{body}}}
      </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>



//HAMBURGER

<script>
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');
  const links = document.querySelectorAll('.nav-links li');


  hamburger.addEventListener('click', () => {
   // console.log('Menu clicked!');
    navLinks.classList.toggle('open');
  });
/*
links.forEach(link => {
  link.firstChild.addEventListener('click', () => {
    navLinks.classList.toggle('open');
  });
});*/

</script>



