<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>YogaFinder{{#if subtitle}} - {{subtitle}}{{/if}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="nav-links">
        <div class="nav-wrapper">

            
          <ul>
              <div>
                
                <li><a href="/locate">Search </br>
                    <span class="light-font">Yoga Classes</span></a></li>
                {{#if user}}
                <li><a href="/profile"> Visit </br> 
                     <span class="light-font">your Profile</span></a></li>
                <div>
                     <form action="/authentication/sign-out" method="POST">
                      <button id="nav-sub-button">Sign Out</button></form>
                <a id="nav-sub-link" href="/yoga/create">Create a Yoga class</a>
                </div> 


                {{else}}
                <li><a href="/authentication/sign-in">Sign In </br>
                    <span class="light-font"> as Teacher </span></a></li>
                {{/if}}
              </div>
              <div>
              <div class="nav-image">
                <img src="/images/homeimage.svg" alt="yoga-image">
              </div>

          </ul>
            
        
        </div>
      </div>
                    

         </div>


        </div>
      </div>
    </nav> 
      <main>
        {{{body}}}
      </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>



<script>
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');
  const links = document.querySelectorAll('.nav-links li');


  hamburger.addEventListener('click', () => {
   // console.log('Menu clicked!');
    navLinks.classList.toggle('open');
  });
/*
links.forEach(link => {
  link.firstChild.addEventListener('click', () => {
    navLinks.classList.toggle('open');
  });
});*/

</script>



