<div class="hero background-blue">
    <div class="hero-box">
        <h1>Can we locate you </br>
        <span class="light-font"> to find nearby classes? </span></h1>
        <p>Allow us to access your geolocationor use the holy Uluwatu temple as your default location.</p>
        <div class="two-aligned-buttons">
          <button id="locate-me" class="primary-button-link button-styling"> 
            Sure locate me
          </button>


          <form method="GET" action="/yoga/search">
            <div class="center">
              <button class="primary-button-link button-styling">Use default location</button>
            </div>

            <label for="input-latitude"></label>
            <input id="input-latitude" type="hidden" name="latitude" required min="-90" max="90" step="any" value="-8.83"/>

            <label for="input-longitude"></label>
            <input id="input-longitude" type="hidden" name="longitude" required min="-180" max="180" step="any" value="115.09"/>

            <label for="input-longitude"></label>
            <input id="input-distance" type="hidden" name="distance" min="0" max="100000" step="1000"/>

            <label for="input-dayindication"></label>
            <input id="input-dayindication" type="hidden" name="dayindication" value="today"/>

            <label for="input-categoryindication"></label>
            <input id="input-categoryindication" type="hidden" name="categoryindication" value="any"/>  
          </form>
        </div>
    </div>
</div>




<script>
  const locateMeTrigger = document.getElementById('locate-me');
  const latitudeInput = document.getElementById('input-latitude');
  const longitudeInput = document.getElementById('input-longitude');

  const getUserLocation = (options) => new Promise((resolve, reject) => navigator.geolocation.getCurrentPosition(resolve, reject, options));


  locateMeTrigger.addEventListener('click', () => {
    getUserLocation()
      .then(location => {
        const latitude = location.coords.latitude;
        const longitude = location.coords.longitude;
        //const { latitude, longitude } = location.coords;
        latitudeInput.value = latitude;
        longitudeInput.value = longitude;
        if (latitude && longitude) { 
          window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=today&categoryindication=any`
        } else {
          window.location = `/yoga/search?latitude=${-8.83}&longitude=${115.09}&distance=10000&dayindication=today&categoryindication=any`
        }
      })
      .catch(error => {
        console.log('There was an error locating the user.');
        console.log(error);
      });
  });
</script>


