@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  line-height: 2;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #393b47;
}

a {
  color: inherit;
  text-decoration: none;
}

/*h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
*/
h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.01em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.01em;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

a {
  font-family: Open Sans;
}

/*
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}*/
img {
  width: 100%;
  max-width: 100%;
}

.light-font {
  font-weight: 200;
  letter-spacing: 0em;
}

#sub-special {
  font-size: 24px;
  color: #fee6c6;
}

.split-screen {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.split-screen-left-scroll {
  max-width: 550px;
  overflow-x: scroll;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left-scroll h2 {
  color: #fee6c6;
}

.split-screen-upper-left {
  padding: 50px 0px 0px 25px;
}

.split-screen-lower-left {
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14), 6px 2px 17px 11px rgba(64, 65, 75, 0.14);
  min-height: 700px;
}

.split-screen-left {
  max-width: 550px;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left h2 {
  color: #fee6c6;
}

/*.sidebar-upper-blue {
  background-color: blue;
  z-index: 1;
}
.sidebar-lower-white {
  background-color: white;
  z-index: 2;
}*/
.split-screen-right {
  padding: 25px;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vh;
}

.form-styling {
  background: #ffffff;
  border: 0.3px solid #cecece;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
}

label {
  text-align: left;
  font-size: 5px;
  margin: 0px 0px 0px 15px !important;
  font-size: 12px;
  line-height: 12px;
  color: #3f414e;
  font-weight: 400;
}

input {
  background-color: transparent;
  border: none;
  margin: 0px 0px 0px 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400 !important;
  font-family: 'Open Sans';
  letter-spacing: 0.01em;
}

input::placeholder {
  color: #c5c5c5;
  font-weight: 300 !important;
  font-family: 'Open Sans';
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 16px;
  margin: 0px 0px 0px 15px;
}

input:focus {
  outline: none;
}

.form-button {
  width: auto;
}

/*input:not([type='checkbox']),
  input:not([type='radio']),
  input:not([type='range']),
  textarea,
  select,
  button,
  .btn {
    padding: 1em;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }*/
textarea {
  min-height: 8em;
  resize: vertical;
}

/*label {
    margin-bottom: 0.5em;
  }*/
.input-category {
  text-align: left;
  font-size: 5px;
  color: #3f414e;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

select {
  padding: 0 0 0 15px;
  border: none;
  outline: none;
  width: 95%;
  margin: 0;
  color: #3f414e;
}

select select:active {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
  margin: 15px;
  font-family: "Open Sans";
  color: #c5c5c5;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  list-style-type: none;
}

@media screen and (min-width: 1px) {
  .line {
    width: 25px;
    height: 1.5px;
    background: white;
    margin: 6px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    margin: 22px;
  }
  .nav-links {
    background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
    color: #fee6c6;
    position: fixed;
    height: 100vh;
    width: 100%;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1000px at 50% 50%);
    -webkit-clip-path: circle(1000px at 50% 50%);
    pointer-events: all;
    height: 100vh;
  }
  .nav-links.open ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0;
    height: 100vh;
    /*
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0

      width: 80vh;
      height: 80vh;
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: space-between;
      z-index: 2;*/
  }
  .nav-links.open ul li {
    font-size: 32px;
    margin: 3em 0 3em 2.5em;
  }
  .nav-links.open ul .nav-image {
    width: 400px;
    height: auto;
    margin: 0 100px 0 0;
  }
  .nav-links.open ul div div {
    margin: 3em 0 5em 2.5em;
    display: flex;
    flex-direction: center;
    width: 200px;
  }
}

/*

nav a,
nav button {
  padding: 1em 0;
  border: 0;
  margin: 0px 20px;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}
*/
.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav-sub-button {
  color: #faf9f9;
  font-size: 14px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
}

#nav-sub-link {
  color: #faf9f9;
  font-size: 14px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
  width: aut;
}

/*aside {
    height: 100vh;
    width: 200px;
    background-color: green;
  }*/
/* ---------- SEARCH --------------*/
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  text-align: center;
}

.profile-left img {
  margin-top: 100px;
  height: 140px;
  width: auto;
  border-radius: 50%;
  border: 1px solid #ebebeb;
}

.profile-left h1 {
  color: #fee6c6;
  font-size: 50px;
}

.profile-left p {
  color: #faf9f9;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 100px 0;
  padding: 0;
}

.profile-lower-part {
  text-align: center;
}

#split-screen-right {
  width: auot;
  height: 100vh;
  background-color: #fee6c6;
}

#delete-button {
  padding: 10px;
}

#delete-button img {
  height: 20px;
  width: auto;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14);
  border-radius: 50%;
  margin-top: 10px;
  background-color: white;
}

#edit-button {
  padding: 10px;
}

#edit-button img {
  height: 20px;
  width: auto;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14);
  border-radius: 50%;
  margin-top: 10px;
  background-color: white;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  padding: 5px 10px;
  margin: 0 0 20px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  height: 35px;
}

.search img {
  height: 20px;
  width: 20px;
}

.yoga-class-preview {
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  align-items: center;
  height: 130px;
  padding: 15px 20px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.yoga-class-preview h3 {
  color: #3f414e;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.yoga-class-preview p {
  color: #949494;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 10px 0;
  padding: 0 30px 0 0;
}

.preview-box-left {
  flex: 2.4;
  height: 70px;
}

.preview-box-right {
  flex: 1;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#google-map {
  width: 70%;
  height: 100vh;
  background-color: #fee6c6;
}

.dayfilter button {
  background-color: transparent;
  border: 0.01px solid #ebebeb;
  color: #ebebeb;
  border-radius: 21px;
  padding: 5px 10px;
}

#align-hl-with-dayfilter {
  display: flex;
  flex-direction: row;
}

.horizontal-scroll-wrapper-days {
  width: 400px;
  height: 32px;
  margin: 0 5px 20px 5px;
  overflow-y: hidden;
}

.horizontal-scroll-wrapper-days button {
  margin: 5px 1px 1px 1px;
}

.horizontal-scroll-wrapper-days button:focus {
  outline: none !important;
  background-color: #ebebeb;
  color: black;
}

.horizontal-scroll-wrapper-category {
  width: 400px;
  height: 100px;
  margin: 0 5px 0px 5px;
  overflow-y: hidden;
  margin-bottom: 25px;
}

.horizontal-scroll-wrapper-category button {
  margin: 5px 1px 1px 1px;
}

#hl-before-sub-special {
  margin: 20px 0 5px 0;
}

.category-filter img {
  height: 80px;
  width: auto;
}

.category-filter button {
  background-color: transparent;
  border: none;
}

.category-filter button div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 11px;
  color: #3f414e;
  background: linear-gradient(172.63deg, #717cff 20%, #b2b8ff 160%);
  border-radius: 21px;
  width: 75px;
  height: 75px;
  margin-bottom: 5px;
}

.category-filter button div img {
  height: 50px;
  width: auto;
}

.category-filter button:focus {
  outline: none !important;
}

.category-filter button:focus div {
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14);
}

.icon-copy-wrapper {
  display: flex;
  justify-content: flex-start;
}

.icon-copy-wrapper img {
  height: 12px;
  width: auto;
  margin-right: 10px;
}

#extra-space {
  margin-top: 12px;
}

#dayfilter {
  font-size: 10px;
  color: #3f414e5e;
  font-weight: 300;
  margin: 0px;
  text-align: right;
}

#search-hr {
  border-top: 0.1em dashed #3f414e;
  border-left: 0.1em dashed #faf9f9;
  border-right: 0.1em dashed #faf9f9;
  border-top: 0.1em dashed #faf9f9;
  margin: 0px 0px 1em 0px;
}

.yoga-class-detail {
  align-items: flex-start;
  padding: 15px 20px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.yoga-class-detail h3 {
  color: #3f414e;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.yoga-class-detail p {
  color: #949494;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 10px 0;
  padding: 0 30px 0 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  line-height: 2;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #393b47;
}

a {
  color: inherit;
  text-decoration: none;
}

/*h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
*/
h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.01em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.01em;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

a {
  font-family: Open Sans;
}

/*
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}*/
img {
  width: 100%;
  max-width: 100%;
}

.light-font {
  font-weight: 200;
  letter-spacing: 0em;
}

#sub-special {
  font-size: 24px;
  color: #fee6c6;
}

.split-screen {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.split-screen-left-scroll {
  max-width: 550px;
  overflow-x: scroll;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left-scroll h2 {
  color: #fee6c6;
}

.split-screen-upper-left {
  padding: 50px 0px 0px 25px;
}

.split-screen-lower-left {
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14), 6px 2px 17px 11px rgba(64, 65, 75, 0.14);
  min-height: 700px;
}

.split-screen-left {
  max-width: 550px;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left h2 {
  color: #fee6c6;
}

/*.sidebar-upper-blue {
  background-color: blue;
  z-index: 1;
}
.sidebar-lower-white {
  background-color: white;
  z-index: 2;
}*/
.split-screen-right {
  padding: 25px;
  height: 100vh;
}

.hero {
  margin: 0px;
  height: 100vh;
}

.background-blue {
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.background-blue h1,
h2,
h3,
p {
  color: #fee6c6;
}

.background-white {
  background-color: #faf9f9;
}

.background-white h1,
h2,
h3 p {
  color: #393b47;
}

.hero-box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  max-height: 630px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.button-styling {
  margin-top: 10px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.primary-button-link {
  background-color: #faf9f9;
  box-shadow: 0px 4px 8px rgba(4, 7, 31, 0.14), 0px 8px 16px rgba(4, 7, 31, 0.14);
  margin: 10px;
}

.primary-button-link a {
  font-size: 12px;
}

.secondary-button-link {
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
  box-shadow: 0px 4px 8px rgba(177, 177, 177, 0.14), 0px 8px 16px rgba(177, 177, 177, 0.14);
  color: #faf9f9;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#homeimage {
  height: 280px;
  width: auto;
  margin: 30px 0 20px 20px;
}

.home h1 {
  margin: 0.5em 0 0 0;
}

.home p {
  margin: 1.5em 0 0 0;
}

.two-aligned-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ---------- FORM --------------*/
/* ---------- NAV --------------*/
/* ---------- AUTHENTICATION --------------*/
/* ---------- PROFILE --------------*/
/* ---------- CLASSDETAIL --------------*/
/* ---------- HOME --------------*/
/*

 <li><a href="/">Search</a></li>
          {{#if user}}
            <a href="/profile">{{user.name}}'s Profile</a>
            <form class="form-button" action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form>
        {{else}}
          <li><a href="/authentication/sign-in">Sign In</a></li>
          <li><a href="/authentication/sign-up">Sign Up</a></li>
       {{/if}}

       */

/*# sourceMappingURL=style.css.map */