@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  line-height: 2;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #393b47;
}

a {
  color: inherit;
  text-decoration: none;
}

/*h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
*/
h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

a {
  font-family: Open Sans;
}

/*
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}*/
img {
  width: 100%;
  max-width: 100%;
}

.light-font {
  font-weight: 200;
  letter-spacing: 0em;
}

.split-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-screen-left {
  flex: 1.25;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left h2 {
  color: #fee6c6;
}

.split-screen-left .split-screen-upper-left {
  padding: 25px;
}

.split-screen-left .split-screen-lower-left {
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14), 6px 2px 17px 11px rgba(64, 65, 75, 0.14);
}

/*.sidebar-upper-blue {
  background-color: blue;
  z-index: 1;
}
.sidebar-lower-white {
  background-color: white;
  z-index: 2;
}*/
.split-screen-right {
  flex: 2;
  background-color: lightblue;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vh;
}

.form-styling {
  background: #ffffff;
  border: 0.3px solid #cecece;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
}

label {
  text-align: left;
  font-size: 5px;
  margin: 0px 0px 0px 15px !important;
  font-size: 12px;
  line-height: 12px;
  color: #3f414e;
  font-weight: 400;
}

input {
  background-color: transparent;
  border: none;
  margin: 0px 0px 0px 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400 !important;
  font-family: 'Open Sans';
  letter-spacing: 0.01em;
}

input::placeholder {
  color: #c5c5c5;
  font-weight: 300 !important;
  font-family: 'Open Sans';
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 16px;
  margin: 0px 0px 0px 15px;
}

input:focus {
  outline: none;
}

.form-button {
  width: auto;
}

/*input:not([type='checkbox']),
  input:not([type='radio']),
  input:not([type='range']),
  textarea,
  select,
  button,
  .btn {
    padding: 1em;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }*/
textarea {
  min-height: 8em;
  resize: vertical;
}

/*label {
    margin-bottom: 0.5em;
  }*/
#line {
  width: 25px;
  height: 1.5px;
  background: black;
  margin: 6px;
}

nav {
  position: relative;
}

/*
  #hamburger {
    position: absolute;
    cursor: pointer;
  }
  
  #nav-links {
    position: fixed;
    background: blue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    clip-path: circle(10px at 0% -1%);
    -webkit-clip-path: circle(10px at 0% -1%);
    transition: all 1s ease-out;
  }
  #nav-links.open {
    clip-path: circle(800px at 50% -1%);
    -webkit-clip-path: circle(800px at 50% -1%);
  }
  */
#nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  list-style-type: none;
}

nav {
  display: flex;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 4px 8px rgba(4, 7, 31, 0.14), 0px 8px 16px rgba(4, 7, 31, 0.14);
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
  margin: 0px 20px;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

/*aside {
    height: 100vh;
    width: 200px;
    background-color: green;
  }*/
/* ---------- SEARCH --------------*/
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  padding: 5px 10px;
  margin: 0 0 20px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  height: 35px;
}

.search img {
  height: 20px;
  width: 20px;
}

.yoga-class-preview {
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  align-items: center;
  height: 130px;
  padding: 15px 20px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.yoga-class-preview h3 {
  color: #3f414e;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.yoga-class-preview p {
  color: #949494;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 10px 0;
  padding: 0 30px 0 0;
}

.yoga-class-preview .preview-box-left {
  flex: 3;
  height: 70px;
}

.yoga-class-preview .preview-box-right {
  flex: 1;
  height: 70px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  line-height: 2;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #393b47;
}

a {
  color: inherit;
  text-decoration: none;
}

/*h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
*/
h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

a {
  font-family: Open Sans;
}

/*
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}*/
img {
  width: 100%;
  max-width: 100%;
}

.light-font {
  font-weight: 200;
  letter-spacing: 0em;
}

.split-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-screen-left {
  flex: 1.25;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.split-screen-left h2 {
  color: #fee6c6;
}

.split-screen-left .split-screen-upper-left {
  padding: 25px;
}

.split-screen-left .split-screen-lower-left {
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14), 6px 2px 17px 11px rgba(64, 65, 75, 0.14);
}

/*.sidebar-upper-blue {
  background-color: blue;
  z-index: 1;
}
.sidebar-lower-white {
  background-color: white;
  z-index: 2;
}*/
.split-screen-right {
  flex: 2;
  background-color: lightblue;
  height: 100vh;
}

.hero {
  margin: 0px;
  height: 100vh;
}

.background-blue {
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
}

.background-blue h1,
h2,
h3,
p {
  color: #fee6c6;
}

.background-white {
  background-color: #faf9f9;
}

.background-white h1,
h2,
h3 p {
  color: #393b47;
}

.hero-box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.button-styling {
  margin-top: 100px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.primary-button {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(4, 7, 31, 0.14), 0px 8px 16px rgba(4, 7, 31, 0.14);
}

.secondary-button {
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
  box-shadow: 0px 4px 8px rgba(177, 177, 177, 0.14), 0px 8px 16px rgba(177, 177, 177, 0.14);
  color: white;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ---------- FORM --------------*/
/* ---------- NAV --------------*/
/* ---------- AUTHENTICATION --------------*/
/* ---------- PROFILE --------------*/
/* ---------- CLASSDETAIL --------------*/
/* ---------- HOME --------------*/

/*# sourceMappingURL=style.css.map */