<div class="split-screen ">
  <div class="split-screen-left">
    <div class=" split-screen-upper-left"> 
      <h2>Creat Yoga Class</h2>
    </div>
    <div class="background-white split-screen-lower-left">
      <form method="POST" action="/yoga/create">
      
        <div class="form-styling">
          <label for="input-name">Title</label>
          <input type="text" id="input-name" name="name" placeholder="" />
        </div>
    
        <div class="form-styling">
          <label for="input-image"Add an image></label>
          <input id="input-image" type="file" name="image" accept="image/jpeg, image/png">
        </div>
        <div class="form-styling">
          <label for="input-level">Level</label>
          <select id="input-level" name="level">
              <option value="Choose class level" selected disabled>Level</option> <!-- Display empty placeholder value-->
              <option value="beginner">beginner</option>
              <option value="advanced">advanced</option>
              <option value="proficient">proficient</option>
              <option value="any">any</option>
          </select>
        </div>
        <div class="form-styling">
          <label for="input-category">Category</label>
          <select id="input-category" name="category">
              <option value="Choose yoga type" selected disabled>Category</option> <!-- Display empty placeholder value-->
              <option value="hatha">Hatha</option>
              <option value="vinyasa">Vinyasa</option>
              <option value="yin">Yin</option>
              <option value="astanga">Astanga</option>
              <option value="bikram">Bikram</option>
              <option value="other">Other</option>
          </select>
        </div>
        
        <div class="form-styling">
          <label for="input-startdate">From</label>
          <input type="datetime-local" id="input-startdate" name="startdate" placeholder="startdate">
        </div>
        <div class="form-styling">
          <label for="input-enddate">To</label>
          <input type="datetime-local" id="input-enddate" name="enddate" placeholder="enddate">
        </div>


        {{!Hidden Fields}}
        <div class="form-styling">

        <label for="input-teacher"></label>
          <input id="input-teacher" type="hidden" name="teacher" value="{{ user.name }}">
        <label for="input-latitude"></label>
          <input type="number" id="input-latitude" name="latitude" min="-90" max="90" step="any" />
        <label for="input-longitude"></label>
          <input type="number" id="input-longitude" name="longitude" min="-180" max="180" step="any"/>
          </div>
        <div class="center">
          <button class="secondary-button button-styling">create class</button>
        </div>
      </form>
    </div>
  </div>

  <div id="google-map"></div>
</div>

<script>
  function initMap () {
    const mapElement = document.getElementById('google-map');
    const latitudeInput = document.getElementById('input-latitude');
    const longitudeInput = document.getElementById('input-longitude');
    const map = new google.maps.Map(mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });
    
    let marker;

    map.addListener('click', (position) => {
      const latitude = position.latLng.lat();
      const longitude = position.latLng.lng();

      latitudeInput.value = latitude.toFixed(5);
      longitudeInput.value = longitude.toFixed(5);

      if (marker) {
        marker.setMap(null);
      }
      marker = new google.maps.Marker({
        position: {
          lat: latitude,
          lng: longitude
        },
        map
      });
    })
  }
</script>


{{> scriptgooglemaps}}


