<div class="hero background-white">
  <div class="hero-box ">
    <h1>Creat Yoga Class</h1>
    <form method="POST">
      <div class="form-styling">
        <label for="input-name">Name</label>
        <input type="name" id="input-name" name="name" placeholder="" />
      </div>
      <div class="form-styling">
      <label for="input-techer">Teacher</label>
      <input type="teacher" id="input-teacher" name="teacher" placeholder="" />
      </div>
      <div class="form-styling">
      <label for="input-place">Place</label>
      <input type="place" id="input-place" name="place" placeholder="" />
      </div>
      <div class="form-styling">
      <label for="input-image"Add an image></label>
      <input id="input-image" type="file" name="image" accept="image/jpeg, image/png">
      </div>
    
          
      <div class="center">
        <button class="secondary-button button-styling">create class</button>
      </div>
    </form>
  </div>
</div>