{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">
        <h2> {{classes.name}} </h2>
        <h3>{{ classes.name }}</h3>
        <p> Location </p> 
        <p>{{ classes.place }}</p> 
        <p> Time </p>
        <p> Level </p>
    </div>
    <aside class="split-screen-right"></aside>
        <div id="google-map"></div>
    </aside>
</div>