{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">

        <div class=" split-screen-upper-left"> 
            <h2> {{classes.name}} </h2>
        </div>
        <div class="background-white split-screen-lower-left">
            {{#each classes}}
                <div class="yoga-class-preview ">
                    <h3>{{ classes.name }}</h3>
                    <p> {{classes.location}} </p> 
                    <p>{{ classes.place }}</p> 
                </div>  
            {{/each}}
        </div>

        
    </div>

        <div id="google-map"></div>
</div>

{{!<script>
  function initMap () {
    const mapElement = document.getElementById('google-map');

    const map = new google.maps.Map (mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });
  }

</script>
}}