 <h1>When do you want to work out?</h1>
 
 <form action="">
  <label for="input-dayindication"></label>
  <input id="input-dayindication" type="hidden" name="dayindication" value="today"/>
  <button>Today</button>
</form>

 <form action="">
  <label for="input-dayindication"></label>
  <input id="input-dayindication" type="hidden" name="dayindication" value="tomorrow"/>
  <button>Tomorrow</button>
</form>


 <form action="">
  <label for="input-dayindication"></label>
  <input id="input-dayindication" type="hidden" name="dayindication" value="any"/>
  <button>Any</button>
</form>

 

