{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="yoga-classes-list">
        <h2>Yoga Classes All / Search </h2>
        {{#each classes}}
            <div class="yoga-class-preview">
                <h3>{{ name }}</h3>
                <p>{{ teacher }}</p>
                <p>{{ place }}</p>  
            </div>  
        {{/each}} 
    </div>
    <aside class="maps-box">
        <h2>Google Maps</h2>
        <div id="google-map"></div>
    </aside>
</div>



