{{! Temporary styiling}}
<div class="hero background-white">
    <div class="hero-box ">
        <h1>Yoga Classes All / Search </h1>
        {{#each classes}}
            <div>
                <h3>{{ name }}</h3>
                <p>{{ teacher }}</p>
                <p>{{ place }}</p>  
            </div>  
        {{/each}}

        <div id="google-map"></div>
    </div>
</div>

