<div class="split-screen ">
    <div class="split-screen-left-scroll">
        <div class=" split-screen-upper-left"> 
            <h2 id="hl-before-sub-special">Choose your practice </br>
            </h2>
            {{>dayfilter}}
        </div>
        <div class="background-white split-screen-lower-left">
          {{!{{>searchbar}}
          
        <div class="category-filter horizontal-scroll-wrapper-category">
            {{>categoryfilter}}
        </div>
            {{#if classes}}
              {{#each classes}}
              {{>classsearchpreview}}
              {{/each}}
            {{else}}
              <p>There are no classes on this date.</p>
            {{/if}}
          </div>
      </div>
      <div id="google-map"></div>
</div>
 
{{>scriptsearchmap}}
{{>scriptsearchdaycategory}}
{{>scriptsearchclassname}}
{{> scriptgooglemaps}}



    


