$gold: #fee6c6;
$white-gold: #ebebeb;
$white: #faf9f9;
$blue-gradient-small: linear-gradient(172.63deg, #717cff 20%, #b2b8ff 160%);
$blue-gradient-big: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);

$grey: 4px -4px 7px rgba(64, 65, 75, 0.14);
$babyblue: #717cff;

$box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14);


$font-family: 'Open Sans';
