@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  line-height: 2;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #393b47;
}

a {
  color: inherit;
  text-decoration: none;
}

/*h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
*/
h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.01em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.01em;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

a {
  font-family: Open Sans;
}

/*
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}*/

img {
  width: 100%;
  max-width: 100%;
}

.light-font {
  font-weight: 200;
  letter-spacing: 0em;
}

#sub-special {
  font-size: 24px;
  color: #fee6c6;
}

.split-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.split-screen-left {
  max-width: 550px;
  overflow-x: scroll;
  background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
  h2 {
    color: #fee6c6;
  }

  .split-screen-upper-left {
    padding: 50px 0px 0px 25px;
  }
  .split-screen-lower-left {
    padding: 25px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 4px -4px 7px rgba(64, 65, 75, 0.14),
      6px 2px 17px 11px rgba(64, 65, 75, 0.14);
    min-height: 700px;
  }
  //z-index: 1;
}

/*.sidebar-upper-blue {
  background-color: blue;
  z-index: 1;
}
.sidebar-lower-white {
  background-color: white;
  z-index: 2;
}*/

.split-screen-right {
  padding: 25px;
  height: 100vh;
}
