@import 'colors';

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  list-style-type: none;
}

@media screen and (min-width: 1px) {
  .line {
    width: 25px;
    height: 1.5px;
    background: white;
    margin: 6px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    margin: 22px;
  }
  .nav-links {
    background: linear-gradient(172.63deg, #717cff 5.73%, #b2b8ff 80.16%);
    color: #fee6c6;
    position: fixed;
    height: 100vh;
    width: 100%;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1000px at 50% 50%);
    -webkit-clip-path: circle(1000px at 50% 50%);
    pointer-events: all;
    height: 100vh;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1200px;
      margin: 0;
      height: 100vh;

      /*
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0

      width: 80vh;
      height: 80vh;
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: space-between;
      z-index: 2;*/
      li {
        font-size: 32px;
        margin: 3em 0 3em 2.5em;
      }
      .nav-image {
        width: 400px;
        height: auto;
        margin: 0 100px 0 0;
      }
      div {
        div {
          margin: 3em 0 5em 2.5em;
          display: flex;
          flex-direction: center;
          width: 200px;
        }
      }
    }
  }
}

/*

nav a,
nav button {
  padding: 1em 0;
  border: 0;
  margin: 0px 20px;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}
*/

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav-sub-button {
  color: $white;
  font-size: 14px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
}

#nav-sub-link {
  color: $white;
  font-size: 14px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
  width: aut;
}
