@import 'colors';
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  padding: 5px 10px;
  margin: 0 0 20px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  height: 35px;
  img {
    height: 20px;
    width: 20px;
  }
}
.yoga-class-preview {
  box-shadow: 3px 5px 20px rgba(182, 182, 182, 0.15);
  border-radius: 10px;
  border: 0.1px solid #ebebeb;
  align-items: center;
  height: 130px;
  padding: 15px 20px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
  background-color: white;
  width: 450px;
  h3 {
    color: #3f414e;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 5px 0;
    font-weight: 500;
  }
  p {
    color: #949494;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 10px 0;
    padding: 0 30px 0 0;
  }
  display: flex;
  flex-direction: row;
}

.preview-box-left {
  //background-color: rgb(255, 177, 177);
  flex: 2.4;
  height: 70px;
}
.preview-box-right {
  //background-color: rgb(204, 250, 204);
  flex: 1;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    padding: 0;
  }
}

#google-map {
  //flex: 2;
  //height: 100vh;
  width: 70%;
  height: 100vh;
  background-color: #fee6c6;
}

.dayfilter {
  button {
    background-color: transparent;
    border: 0.01px solid #ebebeb;
    color: #ebebeb;
    border-radius: 21px;
    padding: 5px 10px;
  }
}

#align-hl-with-dayfilter {
  display: flex;
  flex-direction: row;
}

.horizontal-scroll-wrapper-days {
  width: 400px;
  height: 32px;
  margin: 0 5px 20px 5px;
  //overflow-y: auto;
  overflow-y: hidden;
  button {
    margin: 5px 1px 1px 1px;
  }
  button:focus {
    outline: none !important;
    background-color: #ebebeb;
    color: black;
  }
}

.horizontal-scroll-wrapper-category {
  width: 400px;
  height: 100px;
  margin: 0 5px 0px 5px;
  //overflow-y: auto;
  overflow-y: hidden;
  button {
    margin: 5px 1px 1px 1px;
  }
  margin-bottom: 25px;
}

#hl-before-sub-special {
  margin: 20px 0 5px 0;
}

.category-filter {
  img {
    height: 80px;
    width: auto;
    //@if < button: focus> {
    //opacity: 0.5;
    // }
  }

  button {
    background-color: transparent;
    border: none;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 11px;
      color: #3f414e;
      background: $blue-gradient-small;
      border-radius: 21px;
      width: 75px;
      height: 75px;
      margin-bottom: 5px;

      img {
        height: 50px;
        width: auto;
      }
    }
  }
  button:focus {
    outline: none !important;
    div {
      box-shadow: $box-shadow;
    }
  }
}

.icon-copy-wrapper {
  display: flex;
  justify-content: flex-start;
  img {
    height: 12px;
    width: auto;
    margin-right: 10px;
  }
}

#extra-space {
  margin-top: 12px;
}

#dayfilter {
  font-size: 10px;
  color: #3f414e5e;
  font-weight: 300;
  margin: 0px;
  text-align: right;
}

#search-hr {
  border-top: 0.1em dashed #3f414e;
  border-left: 0.1em dashed #faf9f9;
  border-right: 0.1em dashed #faf9f9;
  border-top: 0.1em dashed #faf9f9;
  margin: 0px 0px 1em 0px;
}
