@import 'general';
@import 'form';
@import 'nav';

@import 'authentication';
@import 'profile';

@import 'search';
@import 'classdetail';
@import 'home';

/* ---------- FORM --------------*/

/* ---------- NAV --------------*/

/* ---------- AUTHENTICATION --------------*/

/* ---------- PROFILE --------------*/

/* ---------- CLASSDETAIL --------------*/

/* ---------- HOME --------------*/

/*
.split-screen {
  height: 100vh;
  overflow: hidden;
}

.split-left {
  overlow-y: scroll;
}

.split-left,
#google-maps {
  width: 50 %;
}
*/
